@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



/* header */
.texto-header {
    width: 500px;
    margin-top: 160px;
}

.texto-header h1 {
    font-size: 3em;
}



.navbar-brand {
    font-weight: 600;
}

.navbar-brand p {
    color: #fff;
    font-size: 1.2em;
}

.icons {
    margin-right: 1em;
    margin-top: 0.2em;
    color: #fff;
    z-index: 1000;
}

.about-title {
    font-size: 22px;
    margin-bottom: -2px;
    font-weight: 200 !important;
}

.about-parag {
    margin-top: -40px;
}

.icons i {
    color: #fff;
    font-size: 1.5em;
    margin: 7px 19px 5px 5px;
    transition: 300ms;
}

.icons>a:nth-child(1)>i:nth-child(1):hover {
    color: #FF7DB2;
}

.icons>a:nth-child(2)>i:nth-child(1):hover {
    color: #7072f1;
}

.icons>a:nth-child(3)>i:nth-child(1):hover {
    color: #03a9f4;
}

.icons>a:nth-child(4)>i:nth-child(1):hover {
    color: #0074a9;
}

/* botao cabecalho */

.btn-header {

    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.fixed-network {
    display: none;
    z-index: 1000;
    padding: 5px 10px;
    position: fixed;
    right: 5px;
    top: 100px;

}

.hamburger-react {
    display: none !important;

}


.up {
    margin-top: -30px;
}

.container-text-about {
    margin-top: 135px;
}

.fixed-network:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(-45deg, #FFFFFF, #3D40F4, #FF7DB2, #02D3FF, #2E64F7, #6F50E3, #A472D0, #179FFB);
    background-size: 400%;
    border-radius: 5px;
    transition: 1s;
}

.btn-header:hover {
    animation: ani 8s linear infinite;
    border: none;
}



.btn-header:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.btn-header:hover::before {
    filter: blur(20px);
}

.btn-header:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.btn-header2 {

    cursor: pointer !important;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 18em;
    height: 3.5em;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.item-card {
    position: relative;
    top: 2px;
}

.btn-card {
    cursor: pointer !important;
    text-decoration: none;
    position: relative;
    bottom: -40px !important;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    margin: 0 auto;
    /* Centralizar horizontalmente */
    width: 18em;
    height: 2.8em;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}


.btn-footer-service {
    cursor: pointer !important;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 18em;
    height: 3.5em;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 10px;
    z-index: 1;
}

.btn-footer-service:hover {
    animation: ani 8s linear infinite;
    border: none;
}



.about-title {
    font-weight: bold;
}


.btn-header2:hover {
    animation: ani 8s linear infinite;
    border: none;
}

.btn-card:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}



.btn-header2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.btn-card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.btn-header2:hover::before {
    filter: blur(20px);
}

.btn-card:hover::before {
    filter: blur(20px);
}


.btn-header2:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* botao cabecalho */

.fa-xmark {
    z-index: 100 !important;
    position: fixed;
    right: 10px;
    top: 10px;
}

.hamburger-react {
    position: fixed !important;
    top: 2px !important;
    right: 6px !important;
    z-index: 2002 !important;

}

















.menu-mobile {
    height: 100%;
    width: 100%;

    background: rgba(40, 42, 160, 0.945);
    z-index: 100;
    top: 0;
    right: -55%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.menu-mobile li {
    margin-top: 20px;
    padding: 7px 0px;
    text-align: center;
    width: 179px !important;
    background: rgba(26, 28, 107, 0.829);
}




.menu-mobile.open {
    animation: slideInRight .6s ease-in-out forwards;
    right: 0;
}

.menu-mobile.close {
    animation: slideOutRight .6s ease-in-out forwards;

    right: -55%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 220px;
}


@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Define a animação para fechar o menu */
@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}
















/* carossel */

.carrosel {
    position: relative;
    top: -400px;
    height: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}


.description {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.description-images {
    height: 250px;
}

.carousel-item {
    padding: 1px;
}

.carousel-item p {
    margin-top: 11px;
}

/* carossel */



.main-container-image-description {
    margin-top: -50px;
}

.p-section1 {
    color: #fff;
    font-size: 2em;
    letter-spacing: -0.05em;

}

.min-height{
    height: 100vh !important;
}

.main-image {


    height: 600px;
    margin-top: -35px;
    margin-left: -200px;
}

.carousel-inner {
    margin-top: 400px;
}


.box-tec {
    color: #fff;

}

.box-tec h3 {
    font-weight: 600;
}

.box-tec p {
    font-weight: 400;
    font-size: 0.9em;
}

.section1-nome {
    font-weight: 600;
    font-size: 1.5em;
}

.foguete {
    position: absolute;
    right: 0;
    top: 0;
    height: 500px;

}

.method {
    font-size: 52px;
    background: linear-gradient(to right, #FF7DB2, #3D40F4, #03a9f4);
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.services-title {

    font-weight: bold;
}

/* section 2 */

.section2 {
    margin-top: 110px;
    height: 100%;
}

.title-2 {
    font-size: 50px;
    font-weight: bold;
}

.carrosel-img {
    width: 22%;
    margin: 0 15px;
}

.section2 .carousel {
    margin-top: 4em;
}

.section2 .carousel-control-prev-icon {
    margin-top: 110%;
}

.section2 .carousel-control-next-icon {
    margin-top: 110%;
}

/* section 3 */

.section3 {
    margin-top: 25em;
}

.section3 img {
    width: 150px;
}

.btn-3 {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    width: 17em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #3D40F4, #FF7DB2, #ffeb3b, #3D40F4);
    background-size: 300%;
    border-radius: 100px;
    z-index: 1;
}

.btn-3:hover {
    animation: ani 8s linear infinite;
    border: none;
}


.card-service {
    margin: 15px 15px;
    width: 370px;
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: 1px solid #3d40f4;
    height: 730px;
}


.card-service ul li {
    margin: 0 10px;
}


.container-images {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}




@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.btn-3:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.btn-3:hover::before {
    filter: blur(20px);
}

.btn-3:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.contato {
    width: 25em;
    color: #fff;
    margin: 40px 25px;
}

.formulario {
    width: 25em;
    color: #fff;
    margin: 40px 25px;
    border-radius: 0.5em;
}

.form-icons {
    padding: 5px;
}

.form-icons i {
    width: 1.5em;
    font-size: 1.2em;
    color: #fff;
}

.btn-submit {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    width: 81%;
    height: 2.5em;
    line-height: 2em;

    text-align: center;
    background: linear-gradient(90deg, #3D40F4, #FF7DB2, #3D40F4);
    background-size: 300%;
    border-radius: 100px;
    z-index: 1;
}

.reduce {
    width: 75%;
}


.btn-submit:hover {
    animation: ani 8s linear infinite;
    border: none;
}

/*Animações*/
@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/* /animações */
.btn-submit:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.btn-submit:hover::before {
    filter: blur(20px);
}

.btn-submit:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #3D40F4, #03a9f4);
}

.form-contato {
    border: 1px solid #3d40f4;
    border-radius: 1em;
    padding: 10px;
}

.icons2 a {
    margin-right: 1em;
    margin-top: 0.2em;
    font-size: 1.6em;
    color: #fff;
    transition: 400ms;
}

.icons2 a:nth-child(1):hover {
    color: #FF7DB2;
}

.icons2 a:nth-child(2):hover {
    color: #7072f1;
}

.icons2 a:nth-child(3):hover {
    color: #03a9f4;
}

.icons2 a:nth-child(4):hover {
    color: #0074a9;
}

/* section 3 */

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-label {
    display: block;
    width: 80%;
    margin-bottom: 18px;
}

.input {
    width: 100%;
    background-color: #ececec;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    outline: none;
    font-size: 0.9em;
    padding: 15px 10px 10px;
    font-weight: 600;
    color: #343434;
}

.input:hover {
    background-color: #f9f9f9;
}

.login-label span {
    position: absolute;
    font-size: 0.65em;
    font-weight: 700;
    text-transform: uppercase;
    color: #a7a7a7;
    margin: 19px;
    cursor: text;
    transition: all 200ms ease;
}

input:focus {
    background: #f9f9f9;
    border: 2px solid #343434;
}

.login-label .span-active {
    font-size: 0.6em;
    margin: 3px 11px;
}

#carouselExampleControls2 {
    display: none;
}

/* Dispositivos extra small (telefones em vertical, com menos de 400px) */



/* // Dispositivos médios (tablets com menos de 992px) */
@media (max-width: 1126px) and (min-width: 993px) {
    #carouselExampleControls {
        display: block;
    }

    #carouselExampleControls2 {
        display: none;
    }

    .hamburger-react {
        display: none !important;

    }



    .btn-submit {
        width: 11.4em !important;
    }

    .header-img img {
        display: flex;
        position: absolute;
        width: 900px;
        right: -70px;
        top: -50px;
    }

    .texto-header {
        width: 500px;
        margin-top: 83px;
    }

    .formulario {
        margin-top: 4em;
    }

    .foguete {
        position: absolute;
        right: 0;
        top: 0;
        height: 350px;

    }

    .method {
        font-size: 33px ;
    }

    .work {
        font-size: 20px;
    }

    .rocket {

        padding: 10px;
        height: 220px;
    }

    .main-image {
        height: 440px;
        margin-top: -35px;
        margin-left: -120px;
    }





    .mains-title {
        font-size: 35px !important;
    }


    .description-images {
        height: 210px;
    }

    .btn-header2,
    .btn-card {


        height: 2.5em;

    }

    

    .texto-carrosel {
        font-size: 16px;
    }

    .reduce{
        width: 100%;
    }




}

/* // Dispositivos large (desktops com menos de 1200px) */
@media (max-width: 1299.98px) and (min-width: 1127px) {
    .section3 {
        margin-top: 16em;
    }

    .btn-submit {
        width: 15.4em;
    }

    .hamburger-react {
        display: none !important;

    }

    #carouselExampleControls {
        display: block;
    }

    #carouselExampleControls2 {
        display: none;
    }

    #main {
        margin-top: -120px !important;
    }

    .method {
        font-size: 45px;
    }

    .main-image {
        height: 550px;
        margin-top: 0px;
        margin-left: -160px;
    }


    .reduce{
        width: 80%;
    }




}







@media (max-width: 992px) and (min-width: 768px) {

    .main-image {
        padding-left: 17px;
        margin: 0 auto;
        height: 440px;
    }

    .hamburger-react {
        display: none !important;

    }

    .hamburger-react {
        display: none !important;

    }

    .method{
        font-size: 33px;
    }

    .main-container-image-description {
        margin-top: 20px;
    }

    .mains-title,
    h2,
    p {
        text-align: center;
    }

    .btn-header2 {
        margin: 0 auto;
    }

    .mains-title {
        font-size: 35px !important;
    }

    .texto-header {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .description-images {
        height: 210px;
    }

    .btn-header2,
    .btn-card {


        height: 2.5em;

    }

    .texto-carrosel {
        font-size: 16px;
    }

    .reduce {
        width: 90% !important;
    }



}

@media (max-width: 767px) and (min-width: 545px) {

    .main-image {
        padding-left: 17px;
        margin: 0 auto;
        height: 440px;
    }

    .hamburger-react {
        display: none !important;

    }

    .hamburger-react {
        display: none !important;

    }

    .method{
        font-size: 33px;
    }

    .main-container-image-description {
        margin-top: 20px;
    }

    .mains-title,
    h2,
    p {
        text-align: center;
    }

    .btn-header2 {
        margin: 0 auto;
    }

    .mains-title {
        font-size: 35px !important;
    }

    .texto-header {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .description-images {
        height: 210px;
    }

    .btn-header2,
    .btn-card {


        height: 2.5em;

    }

    .texto-carrosel {
        font-size: 16px;
    }

    .reduce {
        width: 90% !important;
    }




}



@media (max-width: 544px) {

    .hamburger-react {
        display: block !important;

    }

    .method{
        font-size: 27px;
    }


    .main-image {
        position: relative;
        height: 280px !important;
        left: 213px !important;
        transform: translateX(-50%);
        margin: 0 auto;
    }


    .description {
        margin-top: 1px;
    }



    .about-services {
        margin-top: -80px !important;
    }

    .about {
        padding-bottom: 130px;
        margin-bottom: 130px;
    }

    .navbar-nav {
        display: none;
    }

    .main-image {
        position: relative;
        height: 250px;
        left: 45%;
        transform: translateX(-50%);
        margin: 0 auto;
    }

    .part-1 {
        margin-bottom: 100px;
    }

    .main-parag {
        padding: 0 45px;

    }

    .main-title {
        padding: 0 30px;
    }

    .mains-title,
    h2,
    p {

        text-align: center;
    }

    .btn-header2 {
        width: 50%;
        margin: 0 auto;
    }

    p {
        font-size: 14px;
    }

    .mains-title {
        font-size: 25px !important;
    }




    .btn-header2,
    .btn-card {


        height: 2.5em;

    }

    .texto-carrosel {
        font-size: 16px;
    }

    .reduce {
        width: 100% !important;
    }

    .description-images {
        height: 170px !important;
    }

    #main {
        margin-top: -150px;
    }
}

.second-section {
    padding: 50px 0;
}

.how {
    padding-top: 120px;
    padding-bottom: 60px;
}

.about-services {
    height: 100%;
}

.loader {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container-loader {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Define a altura do contêiner para preencher toda a altura da janela */
}